@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
@import 'utilities.css';
::selection {
    background-color: #f42f2c;
    color: #fff
}

body {
    color: #777;
    font-family: "Poppins",sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.625em;
    margin: 0;
    padding: 0;
}

ol,ul {
    margin: 0;
    padding: 0;
    list-style: none
}
a{
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

iframe {
    border: 0
}

a,a:focus,a:hover {
    text-decoration: none;
    outline: 0
}

.btn.active.focus,.btn.active:focus,.btn.focus,.btn.focus:active,.btn:active:focus,.btn:focus {
    text-decoration: none;
    outline: 0
}

.btn i {
    font-size: 1em;
    line-height: inherit
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Poppins",sans-serif;
    color: #222;
    line-height: 1.2em !important;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 600
}

.h1,.h2,.h3,.h4,.h5,.h6 {
    margin-bottom: 0;
    margin-top: 0;
    font-family: "Poppins",sans-serif;
    font-weight: 600;
    color: #222
}

h1,.h1 {
    font-size: 36px
}

h2,.h2 {
    font-size: 30px
}

h3,.h3 {
    font-size: 24px
}

h4,.h4 {
    font-size: 18px
}

h5,.h5 {
    font-size: 16px
}

h6,.h6 {
    font-size: 14px;
    color: #222
}
.text-white {
    color: #fff
}

.transition {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}




.container {
    max-width: 1124px;
    margin: 0 auto;
    padding: 0px 20px;
}




header {
    left: 0;
    padding-top: 20px;
    right: 0;
    transition: all 1s;
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../images/hero-bg.jpg);
    background-size: cover;
}

header.sticky .mobilenavsrcoll {
    top: 0;
    left: 50%;
    background: rgba(34,34,34,0.9);
    position: fixed;
    z-index: 9999;
    transform: translateX(-50%);
}
header.sticky .nav{
    border: none;
    margin: 0;
}



/* .scrollbar-width{
    width: 100%;
    height: 63px;
    transition: all 0.5s ease;
    background: rgba(34,34,34,0.9);
    display: none;
}
header.sticky .scrollbar-width{
    top: 0;
    left: 0;
    position: fixed;
    z-index: 999;
    display: block;
} */



.logo {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.logo a img{
    width: 60%;
}
.nav{
    border-bottom: 1px solid #ffffff46;
    border-top: 1px solid #ffffff46;
    padding: 20px 0px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 25px 0px;
    transition: all 0.5s ease;
    z-index: 999;
}
.nav-menu li {
    position: relative;
    white-space: nowrap;
    float: left
}

.nav-menu ul ul {
    top: 0;
    right: 100%
}
.nav-menu ul li {
    min-width: 180px
}

.nav-menu a {
    padding: 0 8px 0px 8px;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    outline: none
}
.nav-menu li i {
    color: #fff;
    font-size: 25px;
    margin-top: 0px;
}

.nav-menu li:hover>a {
    color: #f42f2c
}

.nav-menu>li {
    margin-left: 10px
}



/* =========== DROP DOWN MENU =============== */

.nav-menu ul {
    margin: 0;
    padding: 10px;
    box-shadow: 0px 0px 30px rgba(127,137,161,0.25);
    background: #fff;
    display: none;
    position: absolute;
}
.nav-menu li:hover ul{
    display: block;
    left: 0;
}

.nav-menu ul li a {
    padding: 5px 10px;
    color: #333;
    display: inline-block;
    font-size: 12px;
    text-transform: none
}

.nav-menu ul li:hover>a {
    color: #f42f2c
}
.nav-menu .btn-1:hover {
    color: #f42f2c
}









.primary-btn {
    background: #f42f2c;
    line-height: 42px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    position: relative
}

.primary-btn:focus {
    outline: none
}

.primary-btn span {
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-60%);
    right: 30px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.primary-btn:hover {
    color: #fff
}

.primary-btn:hover span {
    color: #fff;
    right: 20px
}

.primary-btn.white {
    border: 1px solid #fff;
    color: #fff
}

.primary-btn.white span {
    color: #fff
}

.primary-btn.white:hover {
    background: #fff;
    color: #f42f2c
}

.primary-btn.white:hover span {
    color: #f42f2c
}

.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0
}

.banner-content {
    margin-top: 5rem
}


@media (max-width: 720px) and (min-width:0px){
    .banner-content {
        margin-top: 3rem;
    }
    .banner-area {
        height: 100vh;
    }
    #logo{
        text-align: center !important;
        margin: 0 auto !important;
        width: 400px;
    }
}
@media (max-width: 1124px) and (min-width: 415px) {
    .banner-content {
        margin: 150px 5px 0px 30px;
    }
}

.banner-content h6 {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px
}

.banner-content h1 {
    font-size: 60px;
    font-weight: 700;
    margin: 20px 0
}

@media (max-width: 767px) {
    .banner-content h1 {
        font-size:40px
    }
}

.banner-content p {
    max-width: 515px;
    margin-bottom: 30px
}

.banner-content .primary-btn:hover {
    background: #222;
    color: #fff
}

.home-about-left p {
    margin: 20px 0;
    max-width: 490px
}

.home-about-left .primary-btn:hover {
    box-shadow: 0px 20px 20px 0px rgba(245,63,81,0.2)
}

@media (max-width: 991px) {
    .home-about-left {
        margin-bottom:50px
    }
}

.menu-area {
    background: #f9f9ff
}

.menu-area .primary-btn {
    color: #fff;
    background-color: #f42f2c;
    margin-left: auto;
    margin-right: auto
}

.filter-wrap {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 10px 30px 0px rgba(153,153,153,0.2)
}

.menu-area .filters {
    text-align: center
}

.menu-area .filters {
    padding: 0;
    overflow: hidden
}

.filter-wrap {
    display: table
}

.filter-wrap li {
    display: table-cell;
    border-right: 1px solid #edf6ff
}

@media (max-width: 414px) {
    .filter-wrap li {
        display:block !important
    }
}

.filter-wrap li:last-child {
    border: none
}

.menu-area .filters li {
    padding: 40px 0px;
    max-width: 184px;
    cursor: pointer;
    position: relative;
    color: #222;
    font-size: 12px;
    font-weight: 500
}

@media (max-width: 768px) {
    .menu-area .filters li {
        padding:20px 0px
    }
}

@media (max-width: 767px) {
    .menu-area .filters li {
        padding:12px 0px;
        font-size: 10px
    }
}

@media (max-width: 414px) {
    .menu-area .filters li {
        max-width:100% !important
    }
}

.menu-area .filters li:last-child {
    border-right: none
}

.menu-area .filters li.active {
    color: #fff;
    background: #f42f2c
}

.menu-area .filters-content {
    margin-top: 50px
}

.menu-area .filters-content .show {
    opacity: 1;
    visibility: visible;
    transition: all 350ms
}

.menu-area .filters-content .hide {
    opacity: 0;
    visibility: hidden;
    transition: all 350ms
}

.menu-area .filters-content .item {
    text-align: center;
    cursor: pointer;
    margin-bottom: 30px
}

.menu-area .filters-content .item img {
    border-radius: 10px
}

.menu-area .filters-content .item img {
    width: 100%
}

.single-menu {
    background: #fff;
    border-radius: 10px;
    padding: 30px;
    margin-top: 20px
}

.single-menu .title-wrap {
    margin-bottom: 20px
}

.single-menu p {
    margin-bottom: 0px;
    max-width: 392px
}

.single-menu .price {
    color: #f42f2c
}











.sidebar{
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    z-index: 999;
    background-color: #00000042;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    align-items: flex-start;
    justify-content:first baseline;
    display: none;
    margin-top: 0;
}
.cross-icon button{
    background: none;
    border: none;
    font-size: 2rem;
    color:white;
    float: right;
}




.sidebar .nav-menu{
    flex-direction: column;
    display: flex;
}
.sidebar ul li{
    margin: 15px;
    width: 100%;
}


.mobile-nav-wrapper{
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.mobile-nav-wrapper span{
    font-size: 0.9rem;
    color: white;
    font-weight: 400;
    display: none;
}
.hambarger{
    display: none;
    background: none;
    outline: none;
    border: none;
    font-size: 0.9rem;
}
.hambarger img{
    width: 2rem;
}


/* ================== AMAR ==================== */
section.my-about{
    padding: 4rem 0;
}
section.my-about .about-wrapper{
    display: flex;
    align-items: center;
}
section.my-about .about-wrapper .about-left h1{
    font-size: 2rem;
    color: #f42f2c;
    margin-bottom: 1rem;
}
section.my-about .about-wrapper .about-left h1 span{
    color: #000000;
}
section.my-about .about-wrapper .about-left p{
    font-size: 0.9rem;
    line-height: 1.8;
    margin-bottom: 2rem;
    padding-right: 50px;
}


section.my-about .about-wrapper .about-right img{
    width: 100%;
}










/* ============ BANNNER SLIDE ============== */ 

.banner_items{
    background-position: center !important;
    background-size: cover !important;
    width: 100%;
    height:730px;
    background-repeat: no-repeat !important;
    position: relative;
}

.review{
    position: relative;
}

.review .slick-dots{
    position: absolute;
    left: 50%;
    margin-top: 3rem;
    z-index: 9999;
    transform: translateX(-50%);
}
.review .slick-dots li{
    height: 10px;
    width: 10px;
    /* border-radius: 50%; */
    background: #ff4b482f;
    margin: 5px;
    display: inline-block;
    margin: 4px;
}
.review .slick-dots li button{
    opacity: 0;
}
.review .slick-dots li.slick-active{
    background: #ff4b48;
}




.justify-content-center {
    justify-content: center !important;
}

#logo a img {
    width: 14%;
}














/* header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    margin: 0 auto !important;
    z-index: 100000;
}
header.sticky{
    padding: 15px 100px;
    background: tomato;
}
header .logo{
    position: relative;
    font-weight: 700;
    color: #222;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}
header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    position: relative;
    list-style: none;
}
header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #222;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.5s;
}

.banner{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(/images/hero-bg.jpg);
    background-size: cover;
} */





























.navs{
    position: fixed;
    top: 100;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.6s;
    padding: 20px 0px;
    margin: 0 auto;
    z-index: 100000;
    border-top: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
header.sticky .navs{
    padding: 20px 0px;
    background: #161414d9;
    top: 0;
    left: 0;
    border: none;
}


















/* ===================== our service =========== */
section.our-service{
    background: #f6f6ff;
    padding: 7rem 0;
}
.section-heading{
    text-align: center;
    font-family: 'Lato' sans-serif;
    margin-bottom: 0.85rem;
}
section.our-service .section-hp p{
    text-align: center;
    margin-bottom: 5rem;
}

section.our-service .servise-menu{
    /* max-width: 700px; */
    margin: 0 auto;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 10px 30px 0px rgba(153,153,153,0.2);
}
section.our-service .servise-menu ul{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap:1rem;
    justify-content: space-around;
    color: #4a4a4a;
    font-size: 0.7rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 4rem;
}

section.our-service .servise-menu ul li{
    padding: 2rem;
    border-right: 1px solid #f0f0ff;
    cursor: pointer;
}
section.our-service .servise-menu ul li:nth-child(6){
    border-right: none;
}
section.our-service .servise-menu ul .active{
    background: #f42f2c;
    border-radius: 10px 0px 0px 10px;
    color: white;
}
section.our-service .servise-card-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
}
section.our-service .servise-card{
    background: white;
    border-radius: 10px;
    padding: 2rem;
}
section.our-service .servise-card-wrapper .servise-card h2{
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
}
section.our-service .servise-card-wrapper .servise-card span{
    float: right;
    color: #f42f2c;
}
section.our-service .servise-card-wrapper .servise-card p{
    font-size: 0.9rem;
    padding-right: 3rem;
}







/* ================= reservation ===================== */

section.reserve{
    padding: 12rem 0;
    position: relative;
    background: url(../images/reservation-bg.jpg) no-repeat center/cover;
}
section.reserve .reserve-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 5rem;
    align-items: center !important;
}
section.reserve .reserve-wrapper .reserve-left h1{
    font-size: 36px;
    font-weight: 600;
    color: #ffffff;
    position: relative;
    margin-bottom: 1rem;
    line-height: 1.2em !important;
}
section.reserve .reserve-wrapper .reserve-left p{
    position: relative;
    color: white;
    font-weight: 300;
}
section.reserve .bg-overlay{
    background: rgba(17, 22, 24, 0.75);
}
section.reserve .overlay{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}


section.reserve .reserve-wrapper .reserve-right{
    position: relative;
    background: #fff;
    padding: 100px 40px;
    text-align: center;
}
section.reserve .reserve-wrapper .reserve-right form{
    display: flex;
    flex-direction: column;
}
section.reserve .reserve-wrapper .reserve-right form input{
    border-radius: 0px;
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: 300;
    padding: 0.575rem 0.75rem;
    color: #999999;
    border: 1px solid #eeeeee;
    outline: none;
}

section.reserve .reserve-wrapper .reserve-right button{
    margin-top: 2rem;
}

/* ================== images of food ============= */
.food-img-wrapper{
    grid-column-gap: 4rem !important;
    grid-row-gap: 4rem !important;
}

section.our-service .servise-card-image{
    padding: 0;
    height: 350px;
}
section.our-service .servise-card-image img{
    width: 100%;
    height: 100%;
}

/* ================= riviwe ================ */
section.review {
    padding: 10rem 0;
    text-align: center;
    background: url(../images/review-bg.jpg) no-repeat center/cover;
}

section.review .reviwe-card-rapper .reviwe-card{
    padding: 0 17rem;
    display: flex;
    flex-direction: column;
}
section.review .reviwe-card-rapper .reviwe-card .user-img{
    width: 80px;
    height: 75px;
    margin: auto;
    border-radius: 100%;
    margin-bottom: 1.3rem;
    overflow: hidden;
}
section.review .reviwe-card-rapper .reviwe-card .user-img img{
    width: 100%;
    height: 100%;
}
section.review .reviwe-card-rapper .reviwe-card h3{
    font-size: 1rem;
    font-weight: 600;
}
section.review .reviwe-card-rapper .reviwe-card .rate-icon{
    height: 20px;
    margin-bottom: 1.3rem;
    display: flex;
    align-items: center;
    text-align: center !important;
    justify-content: center;
}
section.review .reviwe-card-rapper .reviwe-card .rate-icon img{
    width: 13px;
    height: 13px;
}
section.review .reviwe-card-rapper .reviwe-card p{
    font-size: 14px;
    line-height: 1.8;
}


/* ================== blog ====================== */

section.blog {
    padding: 10rem 0;
}
section.blog .blog-heading p{
    text-align: center;
    margin-bottom: 4rem;
    padding: 0 11.5rem;
}
section.blog .blog-card-wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1.7rem;
}
section.blog .blog-card-wrapper .blog-card-content{
    display: flex;
    flex-direction: column;
}
section.blog .blog-card-wrapper .blog-card-content .blog-img img{
    width: 100%;
    height: 100%;
}
section.blog .blog-card-wrapper .blog-card-content .blog-text button{
    border: none;
    background:rgb(0, 0, 0);
    padding: 0.3rem 1.3rem;
    color: white;
    font-weight: 100;
    margin: 1.1rem 0;
}
section.blog .blog-card-wrapper .blog-card-content .blog-text h3{
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.2 !important;
    margin-bottom: 0.8rem;
}
section.blog .blog-card-wrapper .blog-card-content .blog-text p{
    line-height: 1.6;
    margin-bottom: 1rem;
}


section.blog .blog-card-wrapper .blog-card .blog-card-content .blog-text .react-comment{
    display: flex;
    justify-content: space-between;
}
section.blog .blog-card-wrapper .blog-card .blog-card-content .blog-text .react-comment div img{
    width: 15px;
}

/* ============= fooooooter ============== */
footer{
    padding: 8.5rem 0;
    background: #f42f2c;
    color: #fff;
}
footer .foot-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

footer .foot-wrapper .foot-info{
    padding: 0 30px;
}
footer .foot-wrapper .foot-info h4{
    color: #ffffff;
    margin-bottom: 1rem;
    font-size: 1.1rem;
}
footer .foot-wrapper .foot-info ul li{
    border-bottom: 1px solid rgba(255, 255, 255, 0.434);
    padding: 20px 0;
}

footer .foot-wrapper .second{
    display: flex;
    flex-direction: column;
    justify-content: start;
}
footer .foot-wrapper .second span{
    margin-top: 1rem;
}
footer .foot-wrapper .second span:nth-child(2){
    margin-bottom: 1rem;
    font-size: 0.9rem;
}
footer .foot-wrapper .second span:nth-child(3){
    font-size: 1.8rem;
    font-weight: 600;
}
footer .foot-wrapper .second span:nth-child(4){
    font-size: 1.8rem;
    font-weight: 600;
}

footer .foot-wrapper .third h4{
    margin-bottom: 1.8rem;
}
footer .foot-wrapper .third span{
    font-size: 0.9rem;
    display: block;
    margin-bottom: 1.2rem;
}
footer .foot-wrapper .third input{
    padding: 0.5rem 1rem;
    width: 300px;
    border-radius: 20px;
    border: none;
    outline: none;
}
footer .foot-wrapper .third span img{
    width: 100%;
}
footer .foot-wrapper .third .arrow-img{
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background: #f42f2c;
    padding: 7px;
    /* z-index: 9999; */
    position: absolute;
    margin-left: 262px;
    margin-top: 1px;
}








footer.foot-last{
    background: #222;
    padding: 12px 0;
}

footer.foot-last .foot-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer.foot-last .foot-bottom p{
    margin-top: 0;
    margin-bottom: 0rem;
    font-size: 1rem;
}
footer.foot-last .foot-bottom a{
    color: #f42f2c;
}
footer.foot-last .foot-bottom ul{
    display: flex;
}
footer.foot-last .foot-bottom ul li{
    background: #000000;
    height: 30px;
    width: 30px;
    margin: 10px;
    padding: 2px;
    transition: all 0.3s ease;
}
footer.foot-last .foot-bottom ul li a img{
    width: 90%;
}
footer.foot-last .foot-bottom ul li:hover{
    background:#f42f2c;
}












@media(max-width: 720px){
    .hideOnMobile{
        display: none;
    }
    .nav{
        padding: 8px 0;
    }
    .sidebar{
        width: 100%;
        justify-content: end;
        padding-right: 25px;
        padding-top: 10px;
    }
    .nav-menu li i:last-child {
        margin-left: 250px;
    }
    .hambarger{
        display: block;
    }
    .mobile-nav-wrapper span{
        display: block;
    }
    .logo a img{
        width: 60% !important;
    }
    section.my-about .about-wrapper{
        flex-direction: column;
        flex-direction: column-reverse;
    }
    section.my-about .about-wrapper .about-left{
        text-align: center;
        margin-top: 2rem;
    }
    section.my-about .about-wrapper .about-left p{
        padding-right: 0px !important;
    }

    section.my-about {
        padding: 0 !important;
    }




    section.our-service {
        padding: 3rem 0;
    }
    .section-heading{
        font-size: 1.5rem;
        margin-bottom: 5px;
    }
    section.our-service .section-hp p{
        font-size: 12px;
        margin-bottom: 2rem;
    }
    section.our-service .servise-menu ul{
        display: flex;
        flex-direction: column;
    }
    section.our-service .servise-menu ul .active{
        border-radius: 10px 10px 0px 0px;
    }
    section.our-service .servise-menu ul li{
        padding: 0.7rem 2rem;
    }
    section.our-service .servise-card-wrapper{
        grid-template-columns:repeat(1, 1fr);
        grid-row-gap: 2rem !important;
    }
    section.reserve{
        padding: 5rem 0;
    }
    section.reserve .reserve-wrapper{
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }
    section.reserve .reserve-wrapper .reserve-left p{
        margin-bottom: 3rem;
    }
    section.reserve .reserve-wrapper .reserve-right{
        padding: 50px 25px;
    }


    section.blog{
        padding: 5rem 0rem 0rem 0;
    }
    section.blog .blog-heading p{
        padding: 0;
    }
    section.blog .blog-card-wrapper{
        grid-template-columns:repeat(1, 1fr)
    }
    section.blog .blog-card-wrapper .blog-card-content{
        margin-bottom: 3rem;
    }
    footer .foot-wrapper{
        grid-template-columns: repeat(1, 1fr)
    }
    footer.foot-last .foot-bottom{
        flex-direction: column;
        text-align: center;
        padding: 2rem;
    }
    section.review{
        padding: 5rem 0;
        background: url(../images/ssmmre.jpg) no-repeat center/cover;
    }
    .review .slick-dots{
        margin-top: 15px;
    }
    section.review .reviwe-card-rapper .reviwe-card{
        padding: 0;
    }
    footer .foot-wrapper .foot-info{
        padding: 0;
        margin-bottom: 3rem;
    }
    footer .foot-wrapper .foot-info h4{
        margin-bottom: 0;
    }
    footer.foot-last .foot-bottom p{
        margin-bottom: 1rem;
    }
    footer.foot-last .foot-bottom{
        padding: 2rem 5px;
    }
    section.our-service .servise-card-image{
        height: 100%;
    }
    footer{
        padding: 4rem 0;
    }
    footer .foot-wrapper .foot-info{
        margin-bottom: 2rem;
    }
    footer .foot-wrapper .foot-info ul li{
        padding: 8px 0;
    }
    header {
        background: linear-gradient(rgba(0, 0, 0, 0), rgb(0 0 0 / 33%)), url(../images/hero-bg-rotate.jpg);
    }


}


